/ecuaciones_no_lineales/nbproject/private/
/ecuaciones_no_lineales/build/
/derivadas_integrales/nbproject/private/
/Derivadas_integrales/nbproject/private/
/Derivadas_Integrales/target/
/ecuaciones_no_lineales (copia)/build/
/ecuaciones_no_lineales (copia)/nbproject/private/
/Derivadas_Integrales/build/
/Derivadas_Integrales/nbproject/private/
/Derivadas_integrales/target/
/Derivadas_Integrales/dist/
/Derivadas-Integrales/target/
/Ecuaciones_no_lineales/nbproject/private/
/Ecuaciones_no_lineales/build/
/biseccion2_0/nbproject/private/
/biseccion/target/
/Biseccion/nbproject/private/
/Biseccion/build/
